
:root {
	--text: hsl(0, 0%, 100%);
	--text-reverse: hsl(0, 0%, 0%);
	--textDim: hsl(0, 0%, 60%);
	--background: hsl(0, 0%, 0%);
	--background-reverse: hsl(0, 0%, 100%);
	--scroll-bar: 161, 90, 192;
	--primary: 161, 90, 192;
	--primaryBg: rgba(161, 90, 192, 0.08);
	--primaryHi: rgba(161, 90, 192, 0.25);
	--primaryFg: hsl(270, 65%, 85%);
	--secondary: hsl(270, 35%, 18%);
	--secondaryFg: hsl(270, 35%, 75%);
	--secondaryBg: hsla(270, 35%, 18%, 5%);
	--secondaryHi: hsla(270, 45%, 40%, 50%);
	--accent: hsl(270, 65%, 94%);
	--accentBg: hsla(270, 65%, 94%, 1%);
	--accentHi: hsla(270, 65%, 60%, 35%);
}

html {
	scrollbar-width: none;
	scroll-behavior: smooth !important;
}

* {
	cursor: none !important;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fugaz One', sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: var(--background);
	color: var(--text);
	cursor: none;
	scroll-behavior: smooth;
}

.container {
	max-width: 1600px;
	margin-inline: auto;
}

@keyframes anim {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(15px);
	}

	100% {
		transform: translateY(0px);
	}
}

hr {
	position: relative;
	padding: 2.5rem 0;
	border: none;
	margin-top: 10px;
}

hr:before {
	content: '\2044  \2217\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2217  \2044';
	position: absolute;
	top: 1.2rem;
	right: 0;
	left: 0;
	font-size: 1.5em;
	color: hsl(270, 65%, 60%);
	text-align: center;
}



::-webkit-scrollbar {
	display: none;
}

.scroll-bar {
	--p: 0%;
	position: fixed;
	width: 7px;
	height: 7px;
	right: 0;
	top: 0;
	background: rgb(var(--scroll-bar));
	border-radius: 50%;
}

/*  TODO Remove before class if scroll tail is not needed */
.scroll-bar::before {
	content: '';
	position: absolute;
	bottom: 50%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 7px;
	height: var(--p);
	background: linear-gradient(0deg, rgb(var(--scroll-bar)), transparent);
}

.heading {
	color: hsl(270, 65%, 60%);
	text-decoration: underline;
	margin-bottom: 0.9rem;
}

@media screen and (max-width: 700px) {
	.scroll-bar {
		display: none;
	}
}

@media screen and (max-width: 450px) {
	p {
		font-size: 1.5rem;
	}
}
